.dashboard-profile-img{
  margin-left: 20px;
  width: 120px;
}

.card {
  margin-top: 20px; /* Ajusta el valor según tus preferencias */
}

.dashboard-banner-profile-info{
  /* Establecer una altura del 100% en el contenedor */
}
